./streamlit/streamlit
uploadfile/node_modules
typhoon/.venv
./tailwindcss/node_modules/
/home/game/learning/tailwindcss/node_modules
tailwindcss/node_modules/

#kaggle 
kaggle/.venv

#python env 
python/env/

#gunfena 
grafana/data/grafana.db
